@model IEnumerable<PropertyRentalManagement.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Scheduled Date</th>
            <th>Description</th>
            <th>Potential Tenant</th>
            <th>Property Manager</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PotentialTenant.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyManager.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Description)
            </td>
            <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.AppointmentId">Edit</a> |
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.AppointmentId">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.AppointmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
